<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    Surventrix Blog</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1><a href="/" class="page-title">Surventrix Blog</a></h1>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
         {{ content }}
        </section>

        <aside id="sidebar">

          <a href="https://surventrix.net" class="button">
            https://surventrix.net
          </a>
          <a href="http://help.surventrix.net"  class="button">
           http://help.surventrix.net
          </a>
          <p>Having trouble with our site? Contact us <a href="https://surventrix.net/contact">here</a> or send us an email to support@surventrix.com and we will help sort it out.</p>
        </aside>
      </div>
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '53c3fdd6e32bb443e30215a0');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
